{"filter":false,"title":".htaccess","tooltip":"/wp2/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1589469638259,"hash":"24c15f8f83dd8e2c00ee5abdf572b98c7f1d7dd5"}