@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
    font-family: "Montserrat";
    margin: 0;
    font-weight: 300;
}

/* Header */

.section1{
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vw 5vw;
}

.title{
    font-size: 9em;
    font-weight: 600;
    mix-blend-mode: overlay;
    filter: invert(-100%);
    line-height: .7em;
    margin: 20vw 0 5vw 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    fill: lightgray;
    width: 4vw;
}

.logo2{
    fill: lightgray;
    width: 7vw;
    margin-bottom: 0;
}

.gradient{
    margin: -3vw -5vw;
    height: 100px;
    background: linear-gradient(rgba(5,5,50,0) 0%, rgba(5,5,50,0.8) 50%, rgba(5,5,50,1) 100%);
}

/* Section 2 */

.section2{
    background-color: rgb(5, 5, 50);
    display: flex;
    flex-direction: column;
    color: white;
}

.section2-header {
    font-size: 5em;
    font-weight: 600;
    color: white;
    transform: translateY(-50px);
    align-self: center;
}

.section2-content{
    padding-left: 20vw;
    line-height: 1.8em;
}

.section2-content>.container{
    display: flex;
    overflow-x: hidden;
}

.experience{
    display: flex;
    align-items: center;
    font-size: 1.8em;
}

.experience p{
    transform: translateX(-2vw);
    font-weight: 200;
}

.experience strong{
    font-weight: 900;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url(images/1-waves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ux{
    background-image: url(images/1-waves.jpg);
    font-size: 30em;
    line-height: initial;
    font-weight: 900;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(5vw, -10vw);
}

/* Footer */

.transparent {
    -webkit-text-stroke: 1px rgb(180, 180, 180);
    color: transparent;
}

.footer1{
    color: rgb(180, 180, 180);
    background-color: rgb(197, 43, 69);
    display: flex;
    padding: 4vw 5vw;
}

.footer1-subscribe-text {
    font-size: 5em;
    font-weight: 600;
    color: white;
}

.footer1-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.email-form {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.email-form label{
    color: white;
    font-size: 1.2em;
}

.email{
    background: linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180)), linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180)), linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180));
    background-size: 1px 50%, 100% 1px, 1px 50%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none;
    width: 20vw;
}

.submit{
    background-color: rgb(5, 5, 50);
    font-weight: 800;
    width: 100%;
    padding: .3vw 0;
    margin-top: 1vw;
    border: none;
    font-size: 1.2em;
    -webkit-text-stroke: .5px white;
    color: transparent;
}

.footer1-touch-text{
    font-size: 2em;
    margin-top: 6vh;
    transform: translateX(-1em);
}

.footer1-touch-text strong{
    color: white;
    font-weight: 800;
}

.footer2{
    background-color: rgb(5, 5, 50);
    display: flex;
    padding: 2vw 5vw;
    color: white;
    justify-content: space-between;
}

.footer2-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2-logo-text{
    font-size: 2em;
}

.footer2-info{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: space-between;
    margin-left: 4vw;
}

.info-strong{
    font-weight: 600;
    transform: translateX(1vw);
}

.footer2-phone{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 2;
}

.phone-icon{
    width: 2.8vw;
    fill: rgb(197, 43, 69);
    margin-right: 3vw;
}